<style type="text/css">
	.modal-fullscreen{
		width: 50%;
		/*height: 100%;*/
		margin: auto;
		top: 30px !important;
		left: 0;
	}
	.cursor-pointer{
		cursor: pointer;
	}
	.form-control{
		margin: 2px 0px !important;
	}
	.thumbnail {
    display: block;
    height: 110px;
    border: 1px solid #ddd;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.content {
    min-height: 0px !important;
}
</style>

<form  method="post" id="purpose_form" autocomplete="off" enctype="multipart/form-data">
<div class="modal fade" id="purpose_modal">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><i style="color: #3c8dbc" class="glyphicon glyphicon-lock"></i> Add Or Update Purpose</h4>
				</div>
				<div class="modal-body" style="padding: 1px">

					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<div class="box-body" style="padding: 4px;">
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-3 control-label">Reason of visit</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="purpose" id="purpose" placeholder="Enter purpose">
											</div>
										</div>

                                        <input type="hidden" name="hidden_purpose_id" id="hidden_purpose_id">

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-3 control-label">Status</label>
											<div class="col-sm-9">
												<input id="status" checked="" style="width: 20px;height: 20px;" name="status" value="1" type="checkbox">
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</section>
				</div>

				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
					<button type="submit" class="btn btn-primary">Save</button>
				</div>

			</div>
		</div>
	</div>
	</form>