<style type="text/css">
  .box-body {
    background-color: white;
  }

  .box-title {
    color: white;
  }

  .box-header {
    background-color: #105e7d;
  }
  .btn-app{
    width: 450px !important;
  }
</style>

<body>

  <div class="row">
    <div class="col-md-12">
      <div class="box-body" style="background-color: #e1e4eb;margin-top: 20px;">
        <a href="/admin/report/general" class="btn btn-app">
          <i class="fa fa-list-alt"></i> General Report
        </a>
        <a href="/admin/report/member" class="btn btn-app">
          <i class="fa fa-play"></i> Member Report
        </a>
        <a class="btn btn-app">
          <i class="fa fa-repeat"></i> Affiliated Member Report
        </a>
        <a class="btn btn-app">
          <i class="fa fa-pause"></i> Guest Report
        </a>
        <a class="btn btn-app">
          <i class="fa fa-save"></i> Custom Report
        </a>
        <a class="btn btn-app">
          <i class="fa fa-bullhorn"></i> Today Visitor
        </a>
        <a class="btn btn-app">
          <i class="fa fa-barcode"></i> This Week Visitor
        </a>
        <a class="btn btn-app">
          <i class="fa fa-users"></i> This Month Visitor
        </a>
      </div>
    </div>
  </div>
  </section>
  <!-- /.content -->
  <div class="clearfix"></div>
</body>